<h2>Your Cart</h2>

<table class="table">
  <th>quantity</th>
  <th>name</th>
  <th>unit price</th>
  <th>delete</th>
  <% for item in @cart.line_items %>

      <tr>
      <td><%= item.quantity %> &times;</td> <td><%=item.product.name %></td>
        <td><span>@</span> <%= number_to_currency(item.product.price, :unit => '&euro;', :precision => 2) %><span> each</span></td>


      <td><%= link_to "delete", item, method: :delete, confirm: 'Are you sure you want to delete this from your bag?', :class => 'cart-btn btn-warning btn' %></td>
    </tr>
  <% end %>
</table>

<hr />

<div>
  <strong>Total: <%= number_to_currency(current_cart.total_price, :unit => '&euro;', :precision => 2) %></strong>
  <br />
  <br />

  <%= link_to "Checkout", new_order_path, method: :get, :class => 'cart-btn btn-info btn' %>
  <%= link_to "Empty Bag", current_cart, method: :delete, confirm: 'Are you sure you want to empty your bag?', :class => 'cart-btn btn-inverse btn' %>
</div>

<br />
<%= link_to '| Continue Shopping |', products_path %>

<%= link_to '| Edit Your Bag |', your_cart_path %>
